
/* footer of the incident page has special width and padding
 * compared to other page, so to make the custom footer container fit well, 
 * we need to adjust the width and the margin of its container element
*/
.layout-content.status.status-incident>.container + .custom-footer-container .container {
  max-width: 600px;
  margin-top: -70px;
  padding-bottom: 0 !important;
}
