
/* make subheader on incident page visible on smaller viewports/ zoom levels */
.layout-content.status.status-incident .page-title .subheader:not(.scheduled-for) {
    display: block;
}

/* left-align page title and subheader */
.layout-content.status.status-incident .page-title {
  text-align: left;
}

/* make incident page content linear on mobile */
@media screen and (max-width: 450px) {
  .layout-content.status.status-incident .update-title,
  .layout-content.status.status-incident .update-container {
    float: none;
  }

  .layout-content.status.status-incident  .update-container:not(.span12) {
    width: auto;
  }
}
