
/* fix for subscribe to incident updates modal on mobile/zoom view */
@media screen and (max-width: 580px) {
    .modal-open-incident-subscribe.in {
        margin-top: 0 !important;
        overflow-y: auto !important;
        bottom: 0 !important;
    }

    .modal .modal-body {
        max-height: none !important;
    }
}
