// Accessibility issue this proposes to address:
// - issue ID: 11, links only identified by colour
//   - PR: https://github.com/alphagov/statuspage-customisations/pull/4
//   - Trello card: https://trello.com/c/nAyANo0r/779-status-page-fix-links-only-identified-by-colour
a, a:hover {
  text-decoration: underline;
  text-decoration-thickness: max(1px,.0625rem);
  text-underline-offset: 0.1578em;
}

// Styling tweaks, not an accessibility issue fix:
// - Existing CSS from GOV.UK Notify status page
// - Copies link focus style from GDS design system
a:focus {
  outline: 3px solid transparent !important;
  color: #0b0c0c !important;;
  background-color: #ffdd00 !important;
  -webkit-box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c !important;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c !important;
  text-decoration: none !important;
}

// Accessibility issue this proposes to address:
// - issue ID: 12
//   - PR: https://github.com/alphagov/statuspage-customisations/pull/22
//   - Trello card: https://trello.com/c/cJVIoYRP/1428-status-page-review-colours
a.color-secondary {
  color: #1D70B8;
}

// Accessibility issue this proposes to address:
// - issue ID: 11, links only identified by colour
//   - PR: https://github.com/alphagov/statuspage-customisations/pull/4
//   - Trello card: https://trello.com/c/nAyANo0r/779-status-page-fix-links-only-identified-by-colour
//   - Note: Resets links styled to look like buttons to lose the underline
.page-name > a,
.show-updates-dropdown,
.show-updates-dropdown:hover,
.previous-page,
.previous-page:hover,
.next-page,
.next-page:hover,
.flat-button,
.flat-button:hover {
  text-decoration: none;
}
